/* MovieCard.css */

.movie-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #000;
  transition: 0.2s ease-in-out;
}

.movie-list {
  width: 33%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.movie-list:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.moviee {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.movie-title {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
}

.movie-overview {
  font-size: 12px;
}

.rating img {
  padding-right: 10px;
}
