.heroPage {
  background-image: url("../public/Poster.svg");
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px;
}

.logo_container {
  display: flex;
  margin-left: 50px;
}

.logo_container h2 {
  font-size: 25px;
  margin: 5px 15px;
}

.form_search {
  display: flex;
  justify-content: space-between;
  border: 2px solid #d1d5db;
  border-radius: 6px;
  padding: 5px 10px;
  width: 50%;
  height: 36px;
}

input {
  background: transparent;
}

i {
  padding-top: 5px;
}

li a {
  list-style: none;
  color: #fff;
  font-size: 20px;
  padding: 0px 10px;
  text-decoration: none;
}

.hero {
  position: relative;
  top: 80px;
  width: 30%;
  left: 60px;
  padding: 0 10px;
}

.main_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  padding: 5px 0;
}

.rating {
  display: flex;
}

.rating p {
  padding-right: 20px;
}

.main_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #fff;
  padding: 10px 0;
}

.form_button {
  display: flex;
  border-radius: 6px;
  padding: 5px 10px;
  width: 50%;
  height: 36px;
  background: #be123c;
  margin-top: 10px;
}

.form_button input::placeholder {
  color: #fff;
}

.form_button input {
  padding-left: 7px;
}

.features {
  position: relative;
  top: 720px;
}

.footer {
  position: relative;
  top: 350px;
  background-color: #fff;
  padding: 20px 0;
}

@media screen and (max-width: 600px) {
  
  .movie-card {
    margin-top: 48px;
  }

  .nav {
    display: flex;
    margin: 16px 5px;
  }

  .logo_container {
    margin-left: 0;
  }

  .form_search {
    width: 65%;
    position: absolute;
   top: 12rem;
    left: 4rem;
  }

  .hero_search {
    display: flex;

    position: relative;
    top: 80px;
    width: 100%;
    justify-content: center;
    padding: 0 10px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    left: 0;
    height: 65%;
  }

  .main_title {
    font-size: 30px;
    line-height: 36px;
  }


  .features_title h2,
  .features_title p {
    font-size: 14px;
    line-height: 36px;
  }
  
}
